doctype
html
  head
    title Hello 
    link(href="/css/site.css" rel="stylesheet")
  body
    .container
      ul.menu
        li
          a(href="/") Home
        li   
          a(href="/about") About
        li.delimeter
        li
          a(href="/users/register") Register  
      block main-content    